Repository csiro-fair/marimba: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, bandit, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: local

    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff check
        language: system
        types: [ python ]
        args: [ "--fix", "--config=config/.ruff.toml" ]
        exclude: ^tests/|^docs/

      - id: black
        name: Black
        entry: uv run black
        language: system
        types: [ python ]
        args: [ "--line-length", "120" ]

      - id: mypy
        name: Mypy
        entry: uv run mypy
        language: system
        types: [ python ]
        args: [ '--config-file', 'config/mypy.ini' ]

      - id: bandit
        name: Bandit
        entry: uv run bandit
        language: system
        types: [ python ]
        args: [ '--config', 'config/bandit.yml', '--severity-level', 'medium' ]

      - id: pytest
        name: Pytest
        entry: uv run pytest
        language: system
        types: [ python ]
        pass_filenames: false
        args: [ '--rootdir', '.', '-c', 'config/pytest.ini' ]

Added the metadata header as an optional output for the package command
  docs/templates/template.pipeline.py
  marimba/core/pipeline.py
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/header/base.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dataset.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  tests/core/schemas/header/test_base.py
  tests/core/utils/test_dataset.py
Due: ruff, black, mypy, bandit, pytest

Added image set header based on pipeline output
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Fixed typing mismatches
  docs/templates/template.pipeline.py
  marimba/core/pipeline.py
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/project.py
Due: ruff, black, mypy, bandit, pytest

Fixed merging
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/header/base.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dataset.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  tests/core/schemas/header/test_base.py
  tests/core/utils/test_dataset.py
Due: ruff, black, mypy, bandit, pytest

Remerged split process files with metadata
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/dataset.py
Due: ruff, black, mypy, bandit, pytest

Fixed pre-commit checks
  docs/templates/template.pipeline.py
  marimba/core/pipeline.py
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/header/__init__.py
  marimba/core/schemas/header/base.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dataset.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  pyproject.toml
  tests/core/schemas/header/test_base.py
  tests/core/utils/test_dataset.py
Due: ruff, black, mypy, bandit, pytest

Refactor dependency management to use enums and dataclasses
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dependencies.py
  marimba/core/utils/summary.py
  marimba/lib/exif.py
  marimba/lib/gps.py
  marimba/lib/video.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Update project version to 1.1.0
  pyproject.toml
Due: none

Refactor subprocess usage and update configuration files.
  config/bandit.yml
  config/mypy.ini
  marimba/core/schemas/ifdo.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/pipeline.py
  tests/core/utils/test_dataset.py
Due: ruff, black, mypy, bandit, pytest

Add citation section to README
  README.md
Due: none

Remove unnecessary garbage collection logic from decorator
  marimba/lib/decorators.py
Due: ruff, black, mypy, bandit, pytest

Add hard-link detection and warning for EXIF modifications
  marimba/core/schemas/ifdo.py
  marimba/core/utils/paths.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Refactor thumbnail saving logic to use compound context.
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Handle exiftool exception compatibility and update error handling
  marimba/core/schemas/ifdo.py
Due: ruff, black, mypy, bandit, pytest

Add read-only file detection for EXIF metadata writing
  marimba/core/schemas/ifdo.py
  marimba/core/utils/constants.py
  marimba/core/utils/paths.py
  marimba/core/wrappers/project.py
Due: ruff, black, mypy, bandit, pytest

Remove manual garbage collection calls in image rendering
  marimba/lib/image.py
Due: ruff, black, mypy, bandit, pytest

Enforce immediate failure for read-only files during packaging
  marimba/core/wrappers/project.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Update to Python 3.12, improve type hints, and enhance CLI UX
  .pre-commit-config.yaml
  README.md
  config/mypy.ini
  docs/contributing.md
  docs/environment.md
  marimba/__init__.py
  marimba/core/cli/delete.py
  marimba/core/cli/new.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/manifest.py
  marimba/core/utils/map.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/target.py
  marimba/lib/decorators.py
  marimba/lib/exif.py
  marimba/lib/gps.py
  marimba/lib/image.py
  marimba/lib/video.py
  marimba/main.py
  pyproject.toml
Due: ruff, black, mypy, bandit, pytest

Add detailed system dependency instructions for Marimba
  README.md
  docs/environment.md
Due: none

Refactor image property extraction and cleanup unused code
  marimba/core/schemas/ifdo.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Simplify read-only file checks and update error message
  marimba/core/wrappers/project.py
Due: ruff, black, mypy, bandit, pytest

Add support for adaptive EXIF metadata chunk processing
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Add iFDO header metadata support with context-aware generation and auto-deduplication
  docs/pipeline.md
  marimba/core/pipeline.py
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  tests/core/schemas/test_base.py
  tests/core/schemas/test_darwin.py
  tests/core/schemas/test_generic.py
  tests/core/schemas/test_ifdo.py
  tests/core/test_pipeline.py
Due: ruff, black, mypy, bandit, pytest

Fix iFDO deduplication incorrectly treating None as a common value
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Fix iFDO deduplication running on single-image datasets
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Add freeze-based constraints to prevent dependency downgrades during pipeline install
  marimba/core/installer/pipeline_installer.py
  tests/core/installer/test_pipeline_installer.py
Due: ruff, black, mypy, bandit, pytest

Cleaning up project specific ignores in .gitignore
  .gitignore
Due: none

Add mritc-demo e2e regression harness skeleton
  tests/e2e/regression/__init__.py
  tests/e2e/regression/conftest.py
  tests/e2e/regression/test_smoke.py
Due: black, mypy, bandit, pytest

Add scrubber and golden snapshot for the e2e regression harness
  tests/e2e/regression/golden/README.md
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/golden/regenerate.py
  tests/e2e/regression/scrub.py
Due: black, mypy, bandit, pytest

Add tiered regression tests for mritc-demo dataset processing
  tests/e2e/regression/conftest.py
  tests/e2e/regression/test_regression.py
Due: black, mypy, bandit, pytest

Wire pre-push e2e regression gate and CI workflow
  .github/workflows/ci-e2e.yml
  .pre-commit-config.yaml
Due: none

Add operator README for the e2e regression harness
  tests/e2e/regression/README.md
Due: none

Run E2E regression workflow on dev branch pushes too
  .github/workflows/ci-e2e.yml
Due: none

Track uv.lock for reproducible dev and CI environments
  .gitignore
  uv.lock
Due: none

Placeholder map.png hash in the scrubbed manifest
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/README.md
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
Due: black, mypy, bandit, pytest

Surface marimba CLI output on MarimbaRunner failure
  tests/e2e/regression/conftest.py
Due: black, mypy, bandit, pytest

Run marimba install after new pipeline in the e2e harness
  tests/e2e/regression/conftest.py
  tests/e2e/regression/test_smoke.py
Due: black, mypy, bandit, pytest

Pre-install pipeline requirements before marimba new pipeline
  tests/e2e/regression/conftest.py
  tests/e2e/regression/test_smoke.py
Due: black, mypy, bandit, pytest

Upload failed dataset metadata as a CI artifact
  .github/workflows/ci-e2e.yml
Due: none
