Repository csiro-fair/marimba: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, bandit, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: local

    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff check
        language: system
        types: [ python ]
        args: [ "--fix", "--config=config/.ruff.toml" ]
        exclude: ^tests/|^docs/

      - id: black
        name: Black
        entry: uv run black
        language: system
        types: [ python ]
        args: [ "--line-length", "120" ]

      - id: mypy
        name: Mypy
        entry: uv run mypy
        language: system
        types: [ python ]
        args: [ '--config-file', 'config/mypy.ini' ]

      - id: bandit
        name: Bandit
        entry: uv run bandit
        language: system
        types: [ python ]
        args: [ '--config', 'config/bandit.yml', '--severity-level', 'medium' ]

      - id: pytest
        name: Pytest
        entry: uv run pytest
        language: system
        types: [ python ]
        pass_filenames: false
        args: [ '--rootdir', '.', '-c', 'config/pytest.ini' ]

Add CI and nightly workflows with resilience hardening
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
Due: none

Add Dependabot configuration for pip and github-actions
  .github/dependabot.yml
Due: none

Stop CI from breaking on TTY-wrapped help text and Py 3.13 exception repr
  tests/conftest.py
  tests/core/wrappers/test_pipeline.py
  tests/test_main.py
Due: black, mypy, bandit, pytest

Tighten coverage config and drop dead pytest markers
  config/coverage.ini
  config/pytest.ini
  tests/e2e/test_distribution.py
Due: black, mypy, bandit, pytest

Run non-regression e2e tests on every CI run
  .github/workflows/ci.yml
Due: none

Add direct unit tests for the iFDO chunked-batch processing path
  tests/core/schemas/test_ifdo_process_files.py
Due: black, mypy, bandit, pytest

Add dedicated test files for CollectionWrapper and ImagerySummary
  tests/core/utils/test_summary.py
  tests/core/wrappers/test_collection.py
Due: black, mypy, bandit, pytest

Pin manifest stability, pipeline-class isolation, iFDO edge cases, DAP wrapper
  tests/core/distribution/test_dap.py
  tests/core/parallel/test_pipeline_loader.py
  tests/core/schemas/test_ifdo.py
  tests/core/utils/test_manifest.py
Due: black, mypy, bandit, pytest

Add e2e happy-path tests for marimba update and install commands
  tests/e2e/test_install.py
  tests/e2e/test_update.py
Due: black, mypy, bandit, pytest

Characterise ProjectWrapper concurrent-import and partial-state gaps
  tests/core/wrappers/test_project_characterisation.py
Due: black, mypy, bandit, pytest

Add direct tests for log and distribution-base modules
  tests/core/distribution/test_base.py
  tests/core/utils/test_log.py
Due: black, mypy, bandit, pytest

Stop Rich emitting ANSI codes in CI by pinning TERM=dumb session-wide
  tests/conftest.py
Due: black, mypy, bandit, pytest

Make macOS CI tests robust to long /private/var/folders/... tmpdirs
  tests/core/cli/test_delete.py
  tests/core/cli/test_new.py
  tests/core/utils/test_paths.py
Due: black, mypy, bandit, pytest

Surface CLI failures with non-zero exit codes and fix panel rendering.
  marimba/core/cli/new.py
  marimba/core/utils/paths.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/dataset.py
  marimba/main.py
  tests/core/utils/test_summary.py
  tests/e2e/test_distribution.py
  tests/e2e/test_update.py
  tests/test_main.py
Due: ruff, black, mypy, bandit, pytest

Curate public API, dedupe pipeline-class discovery, fix Manifest's Progress import.
  marimba/__init__.py
  marimba/core/schemas/darwin.py
  marimba/core/utils/manifest.py
  marimba/core/wrappers/pipeline.py
  marimba/lib/__init__.py
  pyproject.toml
  tests/core/wrappers/test_pipeline.py
  uv.lock
Due: ruff, black, mypy, bandit, pytest

Make multithreaded decorator fail-fast by default.
  marimba/lib/decorators.py
  tests/lib/test_decorators.py
Due: ruff, black, mypy, bandit, pytest

ProjectWrapper install lifecycle and codebase hygiene sweep.
  config/mypy.ini
  marimba/core/distribution/s3.py
  marimba/core/parallel/pipeline_loader.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/constants.py
  marimba/core/wrappers/collection.py
  marimba/core/wrappers/project.py
  marimba/core/wrappers/target.py
  marimba/lib/image.py
  marimba/lib/video.py
  tests/core/wrappers/test_project.py
Due: ruff, black, mypy, bandit, pytest

Bump GitHub Actions to Node-24 versions ahead of 2026-06-02 deprecation.
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
Due: none

Aggregate per-pipeline update failures instead of swallowing them.
  marimba/core/wrappers/project.py
  tests/core/wrappers/test_project.py
Due: ruff, black, mypy, bandit, pytest

Serialise sys.path mutation in load_pipeline_instance with a threading lock.
  marimba/core/parallel/pipeline_loader.py
  tests/core/parallel/test_pipeline_loader.py
Due: ruff, black, mypy, bandit, pytest

Add MarimbaError exception base and narrow CLI catch-alls.
  marimba/core/__init__.py
  marimba/core/distribution/base.py
  marimba/core/installer/pipeline_installer.py
  marimba/core/installer/uv_executor.py
  marimba/core/utils/map.py
  marimba/core/wrappers/collection.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/pipeline.py
  marimba/core/wrappers/project.py
  marimba/core/wrappers/target.py
  marimba/main.py
  tests/e2e/test_install.py
  tests/e2e/test_update.py
  tests/test_main.py
Due: ruff, black, mypy, bandit, pytest

Trim verbose Imports/Functions/Classes sections from module docstrings.
  marimba/core/cli/delete.py
  marimba/core/cli/new.py
  marimba/core/distribution/base.py
  marimba/core/distribution/dap.py
  marimba/core/distribution/s3.py
  marimba/core/parallel/pipeline_loader.py
  marimba/core/pipeline.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/config.py
  marimba/core/utils/hash.py
  marimba/core/utils/ifdo.py
  marimba/core/utils/log.py
  marimba/core/utils/manifest.py
  marimba/core/utils/paths.py
  marimba/core/utils/prompt.py
  marimba/core/utils/rich.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/collection.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/pipeline.py
  marimba/core/wrappers/project.py
  marimba/core/wrappers/target.py
  marimba/lib/concurrency.py
  marimba/lib/decorators.py
  marimba/lib/exif.py
  marimba/lib/image.py
  marimba/lib/video.py
Due: ruff, black, mypy, bandit, pytest

Extract ProjectWrapper safety + collection-schema helpers to private modules.
  marimba/core/wrappers/_collection_schema.py
  marimba/core/wrappers/_safety.py
  marimba/core/wrappers/project.py
Due: ruff, black, mypy, bandit, pytest

Pin astral-sh/setup-uv to v7 (no v8 moving tag exists).
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
Due: none

Lazy-import heavy native deps so marimba --help doesn't pull them.
  marimba/core/__init__.py
  marimba/core/schemas/ifdo.py
  marimba/core/utils/map.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/pipeline.py
  marimba/core/wrappers/target.py
  marimba/lib/__init__.py
  marimba/main.py
  tests/core/utils/test_map.py
  tests/core/wrappers/test_pipeline.py
  tests/core/wrappers/test_target.py
Due: ruff, black, mypy, bandit, pytest

Expose a batched ExifTool session helper for pipeline authors.
  marimba/lib/exif.py
  marimba/lib/gps.py
  tests/lib/test_gps.py
Due: ruff, black, mypy, bandit, pytest

Thread the per-file summary pass.
  marimba/core/utils/summary.py
  marimba/core/wrappers/dataset.py
Due: ruff, black, mypy, bandit, pytest

Hoist redundant dataset-tree walks into a single pass.
  marimba/core/distribution/s3.py
  marimba/core/utils/manifest.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/project.py
  tests/core/distribution/test_s3.py
Due: ruff, black, mypy, bandit, pytest

Parallelise S3 file-level uploads with a ThreadPoolExecutor.
  marimba/core/distribution/s3.py
  marimba/core/utils/constants.py
  tests/core/distribution/test_s3.py
Due: ruff, black, mypy, bandit, pytest

Cache pipeline-module imports within a process.
  marimba/core/parallel/pipeline_loader.py
Due: ruff, black, mypy, bandit, pytest

Switch Manifest.hashes from dict[Path, str] to dict[str, str].
  marimba/core/utils/manifest.py
Due: ruff, black, mypy, bandit, pytest

Add v1.1.0 release notes.
  docs/releases/v1.1.0.md
Due: none

Strip ANSI codes in CLI help-text test assertions.
  tests/conftest.py
  tests/test_main.py
Due: black, mypy, bandit, pytest

Scrub Creation Date row in summary.md for regression equality.
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
Due: black, mypy, bandit, pytest

Refresh deps and finalise v1.1.0 release notes.
  CHANGELOG.md
  marimba/core/wrappers/project.py
  pyproject.toml
  tests/core/parallel/test_pipeline_loader.py
  tests/core/utils/test_paths.py
  tests/core/wrappers/test_project.py
  uv.lock
Due: ruff, black, mypy, bandit, pytest

Fix stale apt cache in CI and scope byte-equality regression to Linux
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
  tests/e2e/regression/test_regression.py
Due: black, mypy, bandit, pytest

Make e2e Tier C tolerant of CPU-dependent JPEG encoding
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_scrub.py
Due: black, mypy, bandit, pytest

Sync uv.lock with widened dependency constraints
  uv.lock
Due: none

Switch dependabot to the uv ecosystem
  .github/dependabot.yml
Due: none
