Repository csiro-fair/marimba: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, bandit, pytest

ruff:
  name: Ruff
  entry: uv run ruff check
  language: system
  args:
  - --fix
  - --config=config/.ruff.toml

black:
  name: Black
  entry: uv run black
  language: system
  args:
  - --line-length
  - '120'

mypy:
  name: Mypy
  entry: uv run mypy
  language: system
  args:
  - --config-file
  - config/mypy.ini

bandit:
  name: Bandit
  entry: uv run bandit
  language: system
  args:
  - --config
  - config/bandit.yml
  - --severity-level
  - medium

pytest:
  name: Pytest
  entry: uv run pytest
  language: system
  pass_filenames: false
  args:
  - --rootdir
  - .
  - -c
  - config/pytest.ini

Run mypy over tests/ in CI
  .github/workflows/ci.yml
Due: none

Run Black and Bandit over tests/ in CI
  .github/workflows/ci.yml
Due: none

Preserve source EXIF through the OpenCV image filters
  marimba/lib/image.py
  tests/lib/test_image.py
Due: ruff, black, mypy, bandit, pytest

Update stale ffprobe/ffmpeg comments to PyAV in summary.py
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Drop ffmpeg system dependency in favour of PyAV
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
  README.md
  docs/environment.md
  marimba/core/utils/summary.py
  marimba/main.py
  tests/core/utils/test_summary.py
Due: ruff, black, mypy, bandit, pytest

Fix flaky CLI test from Rich panel path wrapping
  tests/conftest.py
  tests/core/cli/test_delete.py
  tests/core/cli/test_new.py
Due: black, mypy, bandit, pytest

Make dataset map rendering resilient to tile-fetch failures
  marimba/core/utils/map.py
  marimba/core/wrappers/dataset.py
  tests/core/utils/test_map.py
Due: ruff, black, mypy, bandit, pytest

Default dataset metadata serialisation to JSON
  CHANGELOG.md
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_generic.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_regression.py
Due: ruff, black, mypy, bandit, pytest

Document JSON as the default metadata output format
  docs/pipeline.md
  marimba/main.py
  tests/e2e/regression/README.md
Due: ruff, black, mypy, bandit, pytest

Test against Python 3.14 in CI
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
Due: none

Pin forkserver as the process-pool start method
  CHANGELOG.md
  marimba/core/wrappers/project.py
  tests/core/wrappers/test_project.py
Due: ruff, black, mypy, bandit, pytest

Release v1.2.0
  CHANGELOG.md
  docs/releases/v1.2.0.md
  pyproject.toml
  uv.lock
Due: none

Make the e2e regression golden independent of the Marimba version
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_scrub.py
Due: black, mypy, bandit, pytest

Honour image-datetime-format in the embedded iFDO record
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Document the embedded-record datetime-format fix
  CHANGELOG.md
  docs/releases/v1.2.0.md
Due: none

Update numpy ABI-compat note for opencv 5.0
  pyproject.toml
Due: none

Write user and API documentation guides and refresh existing docs
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  README.md
  docs/api.md
  docs/cli.md
  docs/environment.md
  docs/overview.md
  docs/pipeline.md
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/README.md
Due: none

Make cjackett the sole code owner
  .github/CODEOWNERS
Due: none

[Docs] Write user and API guides and refresh existing documentation (#88)
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  README.md
  docs/api.md
  docs/cli.md
  docs/environment.md
  docs/overview.md
  docs/pipeline.md
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/README.md
Due: none

Make import help assertion metavar-agnostic
  tests/test_main.py
Due: black, mypy, bandit, pytest

Make lint config and logging calls ruff 0.16 clean
  config/ruff.toml
  marimba/core/installer/pipeline_installer.py
  marimba/core/pipeline.py
  marimba/core/utils/paths.py
  marimba/core/wrappers/project.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Make lint config and logging calls ruff 0.16 clean (#97)
  config/ruff.toml
  marimba/core/installer/pipeline_installer.py
  marimba/core/pipeline.py
  marimba/core/utils/paths.py
  marimba/core/wrappers/project.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Allow --config to load a YAML or JSON file path
  CHANGELOG.md
  docs/cli.md
  docs/overview.md
  marimba/core/cli/new.py
  marimba/core/utils/config.py
  marimba/main.py
  tests/core/cli/test_new.py
  tests/core/utils/test_config.py
Due: ruff, black, mypy, bandit, pytest

Parse long inline --config JSON without Path.is_file()
  CHANGELOG.md
  marimba/core/utils/config.py
  tests/core/utils/test_config.py
Due: ruff, black, mypy, bandit, pytest

Standardise provenance.json on PROV-O and schema.org terms
  CHANGELOG.md
  marimba/core/utils/provenance.py
  marimba/core/wrappers/dataset.py
  tests/core/utils/test_provenance.py
  tests/e2e/regression/test_regression.py
Due: ruff, black, mypy, bandit, pytest

Honour --dry-run in distribute and give DAP uploads a dataset folder
  CHANGELOG.md
  marimba/core/distribution/base.py
  marimba/core/distribution/dap.py
  marimba/core/distribution/s3.py
  marimba/core/wrappers/project.py
  tests/core/distribution/test_dap.py
  tests/core/distribution/test_s3.py
Due: ruff, black, mypy, bandit, pytest

Type-check the whole tree in the mypy pre-commit hook
  .pre-commit-config.yaml
  tests/core/distribution/test_base.py
Due: black, mypy, bandit, pytest

Bump locked dependencies across seven Dependabot updates
  uv.lock
Due: none

Bump locked dependencies across seven Dependabot updates (#121)
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^tests/|^docs/
  black: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  pytest: any of: \.py$
