Repository csiro-fair/marimba: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, bandit, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: local

    hooks:
      - id: ruff
        name: Ruff
        entry: uv run ruff check
        language: system
        types: [ python ]
        args: [ "--fix", "--config=config/.ruff.toml" ]
        exclude: ^tests/|^docs/

      - id: black
        name: Black
        entry: uv run black
        language: system
        types: [ python ]
        args: [ "--line-length", "120" ]

      - id: mypy
        name: Mypy
        entry: uv run mypy
        language: system
        types: [ python ]
        args: [ '--config-file', 'config/mypy.ini' ]

      - id: bandit
        name: Bandit
        entry: uv run bandit
        language: system
        types: [ python ]
        args: [ '--config', 'config/bandit.yml', '--severity-level', 'medium' ]

      - id: pytest
        name: Pytest
        entry: uv run pytest
        language: system
        types: [ python ]
        pass_filenames: false
        args: [ '--rootdir', '.', '-c', 'config/pytest.ini' ]

Complete Tier C scrub: neutralise pixel-derived EXIF UserComment fields
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_scrub.py
Due: black, mypy, bandit, pytest

Fix forward-compatibility with newer ruff and av releases
  config/ruff.toml
  marimba/core/schemas/ifdo.py
  marimba/core/utils/dataset.py
  marimba/core/wrappers/dataset.py
  marimba/core/wrappers/pipeline.py
  marimba/core/wrappers/target.py
  marimba/lib/video.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Exclude JPEG content from Tier C byte comparison
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_scrub.py
Due: black, mypy, bandit, pytest

Refresh the stale numpy upper-bound comment
  pyproject.toml
Due: none

Normalize image-entropy to [0, 1] per the iFDO schema
  marimba/lib/image.py
  tests/lib/test_image.py
Due: ruff, black, mypy, bandit, pytest

Bump boto3, rich, av, typer, hatch and ruff to latest
  pyproject.toml
  tests/conftest.py
  tests/core/schemas/test_darwin.py
  tests/core/utils/test_hash.py
  tests/core/wrappers/test_collection.py
  uv.lock
Due: black, mypy, bandit, pytest

Bump boto3, rich, av, typer, hatch and ruff to latest (#60)
  pyproject.toml
  tests/conftest.py
  tests/core/schemas/test_darwin.py
  tests/core/utils/test_hash.py
  tests/core/wrappers/test_collection.py
  uv.lock
Due: black, mypy, bandit, pytest

Upgrade iFDO output to schema v2.2.1
  marimba/core/schemas/ifdo.py
  pyproject.toml
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  uv.lock
Due: ruff, black, mypy, bandit, pytest

Return per-channel averages for any image mode
  marimba/lib/image.py
  tests/lib/test_image.py
Due: ruff, black, mypy, bandit, pytest

Update golden regeneration docs to the current workflow
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/README.md
  tests/e2e/regression/scrub.py
Due: black, mypy, bandit, pytest

Bump pinned mritc-demo-pipeline SHA for iFDO v2.2.1 template
  tests/e2e/regression/conftest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: black, mypy, bandit, pytest

Mark Files section of PR template as optional
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add Marimba and iFDO citations to image-set-related-material
  marimba/core/schemas/ifdo.py
  pyproject.toml
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/conftest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  uv.lock
Due: ruff, black, mypy, bandit, pytest

Removed FFMPEG check
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Migrated ffmpeg/ffprobe calls to use pyav instead
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Fixed formatting
  marimba/core/utils/summary.py
  marimba/main.py
Due: ruff, black, mypy, bandit, pytest

Fixed various issues
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Removed ffmpeg from CI jobs
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
Due: none

Removed ffmpeg from documentations
  README.md
  docs/environment.md
Due: none

Added integration tests for ImagerySummary.is_video_corrupt_quick
  tests/core/utils/test_summary.py
Due: black, mypy, bandit, pytest

Bump cryptography to 49.0.0 to clear OpenSSL advisory
  uv.lock
Due: none

Repin e2e pipeline SHA to the exiftool-based MRITC pipeline
  tests/e2e/regression/conftest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: black, mypy, bandit, pytest

Cast Laplacian variance to float for NumPy 2.5 typing
  marimba/lib/image.py
Due: ruff, black, mypy, bandit, pytest

Group boto3, botocore and s3transfer Dependabot updates
  .github/dependabot.yml
Due: none

Populate the iFDO image-set spatial bounding box
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: ruff, black, mypy, bandit, pytest

Embed GPS datum and UTC fix-time EXIF tags
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: ruff, black, mypy, bandit, pytest

Derive a deterministic image-set UUID
  marimba/core/schemas/ifdo.py
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/README.md
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
Due: ruff, black, mypy, bandit, pytest

Mint deterministic per-image UUIDs when absent
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/dataset.py
  tests/core/schemas/test_ifdo.py
Due: ruff, black, mypy, bandit, pytest

Pin the deterministic per-image UUID in the e2e golden
  tests/e2e/regression/README.md
  tests/e2e/regression/conftest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
Due: black, mypy, bandit, pytest

Record the dataset identity in the manifest and summary
  marimba/core/utils/manifest.py
  marimba/core/utils/summary.py
  marimba/core/wrappers/dataset.py
  tests/core/utils/test_manifest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/test_regression.py
Due: ruff, black, mypy, bandit, pytest

Refine dataset-facing terminology and summary ordering
  marimba/core/schemas/ifdo.py
  marimba/core/utils/summary.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: ruff, black, mypy, bandit, pytest

Write a PROV-O provenance record for each dataset
  marimba/core/schemas/ifdo.py
  marimba/core/utils/provenance.py
  marimba/core/wrappers/dataset.py
  tests/core/utils/test_provenance.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
  tests/e2e/regression/scrub.py
  tests/e2e/regression/test_regression.py
Due: ruff, black, mypy, bandit, pytest

Embed discrete rights, attribution, and identity tags
  marimba/core/schemas/base.py
  marimba/core/schemas/generic.py
  marimba/core/schemas/ifdo.py
  marimba/core/wrappers/dataset.py
  tests/core/schemas/test_ifdo.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: ruff, black, mypy, bandit, pytest

Preserve source EXIF through image transforms
  marimba/lib/image.py
  tests/lib/test_image.py
Due: ruff, black, mypy, bandit, pytest

Fixed video corruption check
  marimba/core/utils/summary.py
  tests/core/utils/test_summary.py
Due: ruff, black, mypy, bandit, pytest

Removed run_ffmpeg_command method
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Made video corruption checks more permissive
  marimba/core/utils/summary.py
Due: ruff, black, mypy, bandit, pytest

Bump demo-pipeline SHA and rotate the e2e golden
  tests/e2e/regression/conftest.py
  tests/e2e/regression/golden/invariants.json
  tests/e2e/regression/golden/manifest.scrubbed.txt
Due: black, mypy, bandit, pytest

Add image_set_uuid to test metadata-stub process_files overrides
  tests/core/schemas/test_base.py
  tests/core/schemas/test_darwin.py
  tests/core/test_pipeline.py
Due: black, mypy, bandit, pytest

Add logger to test metadata-stub create_dataset_metadata overrides
  tests/core/schemas/test_base.py
  tests/core/schemas/test_darwin.py
  tests/core/test_pipeline.py
Due: black, mypy, bandit, pytest
